{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/sidebar_menu/sidebar_menu.css' %}" />
  <meta charset="utf-8" />
</head>
<body>
<div id="myForm" class="side_bar_menu">
  <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
    <span class="span_header">Разделы</span>
    <button onclick="closeForm_menu()" class="close_button">Закрыть</button>
  </div>
    <a href="">
        <div class="menu_holder">
          <div class="menu_img"></div>
          <span class="menu_text">Главная</span>
        </div>
    </a>
    <a href="">
    <div class="menu_holder">
      <div class="menu_img"></div>
      <span class="menu_text">Главная</span>
    </div>
    </a>
    <a href="">
    <div class="menu_holder">
      <div class="menu_img"></div>
      <span class="menu_text">Главная</span>
    </div>
    </a>
    <a href="">
    <div class="menu_holder">
      <div class="menu_img"></div>
      <span class="menu_text">Главная</span>
    </div>
    </a>
    <a href="">
    <div class="menu_holder">
      <div class="menu_img"></div>
      <span class="menu_text">Главная</span>
    </div>
    </a>
</div>